ul.wp-block-list {
    list-style: none;
}

ul.wp-block-list > li {
    position: relative;
}

ul.wp-block-list > li::before {
    content: "";
    background-color: var(--wp--preset--color--contrast);
    height: 2.5px;
    width: 15px;
    display: inline-block;
    position: relative;
    top: -5px;
    margin-right: 12px;
}

ul.wp-block-list ul li:before {
    display: none;
}

ul.wp-block-list ul {
    list-style: circle; /* Set a standard marker for nested lists */
}