.wp-block-quote p::before {
    content: "“";
}

.wp-block-quote p::after {
    content: "”";
}

.wp-block-quote p::before,
.wp-block-quote p::after {
    font-size: 25px;
    color: var(--wp--preset--color--contrast);
    line-height: 18px;
}

.wp-block-quote.is-style-quote-1 p {
    margin-bottom: 20px;
}