.wp-block-list {
    list-style: none;
}

.wp-block-list > li {
    position: relative;
}

.wp-block-list > li::before {
    content: "";
    background-color: var(--wp--preset--color--contrast);
    height: 2.5px;
    width: 15px;
    display: inline-block;
    position: relative;
    top: -5px;
    margin-right: 10px;
}

.wp-block-list li ul li::before {
    content: none;
}